<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo nam perferendis eveniet quia dolor quod, veniam autem libero illum aut dicta earum ad itaque. Accusantium aspernatur unde eligendi autem temporibus?</p>
  </body>
</html>

